.main-payment__box2
{
  flex-direction: column;
  flex-wrap: nowrap;
}

.text--black
{
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.41px;

  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.doubled-title h2
{
  margin-left:1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.custom-progress-bar
{
  width: 0;
  transition: all 1s ease-out;
}

.main-payment__info-green
{
  color: #8bc34a;
}
.ml-05
{
  margin-left: 0.5rem;
}
.ml-1
{
  margin-left: 1rem;
}
.nmar
{
  margin: 0;
}
.custom-icon--success
{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 2rem;
}

.custom-icon--error
{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  z-index: 2;
}

.custom-icon--result
{
  padding-top: 2rem;
  width: 100%;
  position: relative;
  margin-bottom: 7rem;
}
.custom-icon--card
{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  position: absolute;
  z-index: 0;
  top: 50px;
}
.custom-icon--success svg,
.custom-icon--error svg
{
  width: 96px;
  height: 96px;
}

.custom-icon--card svg
{
  width: 192px;
}

.custom-text--large--red
{
  font-size: 1.5rem;
  color: #f44336;
  text-align: center;
}
.custom-animation--rotate {
  animation: 1s linear 0s normal none infinite running anirotate;
  -webkit-animation: 1s linear 0s normal none infinite running anirotate;

}

@keyframes anirotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes anirotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
