<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Admin</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="page">
        <form class="popup__inner popup-authorization" action="/">
            <h2 class="popup__title title-main fz27">Авторизация</h2>
            <div class="popup__wrapper">
                <img class="popup__img" src="img/profile.png" alt="img">
                <input class="popup__input popup__input--password payment__input" name="login" type="text">
            </div>
            <div class="popup__wrapper">
                <img class="popup__img" src="img/key.png" alt="img">
                <input class="popup__input popup__input--password payment__input" name="password" type="password">
            </div>
            <label class="checkbox-block authorization-checkbox">
                <input class="checkbox " type="checkbox">
                <span class="checkbox__text">Запомнить меня</span>
            </label>
            <button class="main__btn main__btn--header popup__btn">Войти</button>
        </form>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>