<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Admin</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="page">
        <header class="header-admin">
    <div class="header-admin__left">
        <a href="admin.html" class="header-admin__logo">
            apipay.is
        </a>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-admin__static">
        <div class="header-title">
            <span>Транзакции</span>
            <span></span>
        </div>
        <img loading="lazy" src="img/calendar.png" alt="img">
        <div class="header-admin__static--date">
            <span>
                08.08.2021 14:00
            </span>
            <span>
                -
            </span>
            <span>
                02.09.2021 15:00
            </span>
        </div>
    </div>
    <div class="header-profile">
        <button class="profile-main__btn profile-hover">
            <div class="profile__inner">
                <img class="profile__icon1" loading="lazy" src="img/avatar.svg" alt="">
                <span class="profile__text">Mrvintage</span>
                <img class="profile__icon2" loading="lazy" src="img/settings.png" alt="">
            </div>
        </button>
        <div class="profile__content">
            <a href="pc-profile.html" class="profile__btn profile-hover">
                <img class="profile__icon3" loading="lazy" src="img/profile.png" alt="">
                <span class="profile__btn-text profile__btn-text--one">Профиль</span>
            </a>
            <button class="profile__btn profile-hover">
                <img class="profile__icon3" loading="lazy" src="img/exit.png" alt="">
                <span class="profile__btn-text">Выйти</span>
            </button>
        </div>
    </div>
</header>

<div class="navigation">
    <a class="navigation__link" href="admin-currencies.html">Админка валюты</a>
    <a class="navigation__link" href="admin-direction.html">Направление обмена</a>
    <a class="navigation__link" href="admin-transactions.html">Админка транзакции</a>
    <a class="navigation__link" href="admin-users.html">Админка обмен валю пользователи</a>
    <a class="navigation__link" href="admin.html">Админка</a>
    <a class="navigation__link" href="arbitrary-payment-link.html">Лк произвольный платеж ссылка</a>
    <a class="navigation__link" href="arbitrary-payment.html">Лк произвольный платеж</a>
    <a class="navigation__link" href="conclusions.html">Админка вывод</a>
    <a class="navigation__link" href="discount.html">Лк скидка</a>
    <a class="navigation__link" href="exchange-requests.html">Админка обмен валю заявки</a>
    <a class="navigation__link" href="index.html">главная</a>
    <a class="navigation__link" href="main-arbitrary-payment.html">главная Произвольный платеж</a>
    <a class="navigation__link" href="main-arbitrary-payment2.html">главная Произвольный платеж2</a>
    <a class="navigation__link" href="main-exchange.html">Главная обмен 2</a>
    <a class="navigation__link" href="main-exchange2.html">Главная обмен 3</a>
    <a class="navigation__link" href="output-create.html">Лк вывод</a>
    <a class="navigation__link" href="output.html">Лк вывод история</a>
    <a class="navigation__link" href="payment.html">Лк вывод масов</a>
    <a class="navigation__link" href="pc-profile.html">Лк профиль</a>
    <a class="navigation__link" href="pc-transactions.html">Лк транзакции</a>
    <a class="navigation__link" href="personal-area.html">Лк</a>
    <a class="navigation__link" href="ref-prog-settings.html">Админка валюты партнерка</a>
    <a class="navigation__link" href="sample.html">Лк вывод шаблоны</a>
    <a class="navigation__link" href="user-page.html">Админка пользователи</a>
</div>

        <nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="admin.html" class="nav__link ">Статистика</a>
        </li>
        <li class="nav__item">
            <a href="admin-transactions.html" class="nav__link nav__link--active">Транзакции</a>
        </li>
        <li class="nav__item">
            <a href="conclusions.html" class="nav__link nav__link-conclusions ">Выводы
                <span class="nav__link-conclusions-value">+45</span>
            </a>
        </li>
        <li class="nav__item">
            <a href="admin-currencies_v2.html" class="nav__link ">Валюты ввод</a>
        </li>
        <li class="nav__item">
            <a href="admin-currencies_v3.html" class="nav__link @link-admin8">Валюты вывод</a>
        </li>
        <li class="nav__item">
            <a href="user-page.html" class="nav__link ">Пользователи</a>
        </li>
        <li class="nav__item">
            <a href="admin-discount.html" class="nav__link @link-admin9">Скидка</a>
        </li>
        <li class="nav__item">
            <a href="affil-program.html" class="nav__link 0">Партнерка</a>
        </li>
        <li class="nav__item">
            <span class="nav__link ">Обмен валют</span>
            <ul class="submenu">
                <li class="submenu__item">
                    <a href="exchange-requests.html" class="submenu__link ">Заявки</a>
                </li>
                <li class="submenu__item">
                    <a href="admin-users.html" class="submenu__link ">Пользователи</a>
                </li>
                <li class="submenu__item">
                    <a href="admin-direction.html" class="submenu__link ">Направления обмена</a>
                </li>
                <li class="submenu__item">
                    <a href="admin-currencies.html" class="submenu__link ">Валюты</a>
                </li>
                <li class="submenu__item">
                    <a href="reviews.html" class="submenu__link ">Отзывы</a>
                </li>
                <li class="submenu__item">
                    <a href="ref-prog-settings.html" class="submenu__link ">Партнерка</a>
                </li>
                <li class="submenu__item">
                    <a href="settings.html" class="submenu__link ">Настройки</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a href="fast-output.html" class="nav__link ">Быстрый вывод</a>
        </li>
    </ul>
</nav>

        <div class="page-content">
            <section class="currencies admin-trans pc-trans">
                <div class="currencies__wrapper">
                    <div class="currencies__top">
                        <h2 class="user-page__title title fz18">
                            Транзакции
                        </h2>
                        <p class="admin-trans__subtitle">Найти транзакцию</p>
                    </div>
                    <div class="admin-trans__wrap">
                        <div class="admin-trans__filter">
                            <div class="select-defolt">
                                <select>
                                    <option value="">
                                        Поле
                                    </option>
                                    <option value="">
                                        Поле
                                    </option>
                                    <option value="">
                                        Поле
                                    </option>
                                </select>
                            </div>
                            <form class="search-block">
                                <input type="text" placeholder="Значения">
                                <button class="search-block__btn gradi-btn">Найти</button>
                            </form>
                            <div class="select-defolt all-type">
                                <select>
                                    <option value="">
                                        Все типы
                                    </option>
                                    <option value="">
                                        Все типы
                                    </option>
                                    <option value="">
                                        Все типы
                                    </option>
                                </select>
                            </div>
                            <div class="select-defolt cancellation">
                                <select>
                                    <option value="">
                                        Отмена
                                    </option>
                                    <option value="">
                                        Отмена
                                    </option>
                                    <option value="">
                                        Отмена
                                    </option>
                                </select>
                            </div>
                        </div>
                        <form class="filter-wrapper" action="/">
                            <span class="filter__text">На странице:</span>
                            <div class="select-defolt cancellation">
                                <select>
                                    <option value="">
                                        10
                                    </option>
                                    <option value="">
                                        20
                                    </option>
                                    <option value="">
                                        30
                                    </option>
                                    <option value="">
                                        40
                                    </option>
                                    <option value="">
                                        50
                                    </option>
                                </select>
                            </div>
                        </form>
                        <button class="btn-add btn-open"></button>
                    </div>
                    <div class="admin-table user__table">
                        <div class="admin-table__row row-title">
                            <div class="admin-table__first">
                                ID
                            </div>
                            <div class="admin-table__two">
                                Дата
                            </div>
                            <div class="admin-table__four">
                                Аккаунт
                            </div>
                            <div class="admin-table__three">
                                Реквизиты
                            </div>
                            <div class="admin-table__five">
                                ПС
                            </div>
                            <div class="admin-table__six">
                                Сумма
                            </div>
                            <div class="admin-table__seven">
                                Сумма мерчанта
                            </div>
                            <div class="admin-table__eight">
                                Сумма клиента
                            </div>
                            <div class="admin-table__nine">
                                Статус
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                        <div class="admin-table__row">
                            <div class="admin-table__first">
                                14523
                            </div>
                            <div class="admin-table__two">
                                18.08.2021
                            </div>
                            <div class="admin-table__four">
                                mrvintage
                            </div>
                            <div class="admin-table__three">
                                1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee
                            </div>
                            <div class="admin-table__five">
                                -
                            </div>
                            <div class="admin-table__six">
                                15 050 руб.
                            </div>
                            <div class="admin-table__seven">
                                550 руб.
                            </div>
                            <div class="admin-table__eight">
                                14 500 руб.
                            </div>
                            <div class="admin-table__nine">
                                Новый
                                <button class="admin-table__nine-btn">
                                    <img class="gear-img1" src="img/gear.png" alt="">
                                    <img class="gear-img2" src="img/gear-color.png" alt="">
                                </button>
                                <div class="gear__content">
                                    <p>Завершен</p>
                                    <p>Отменен</p>
                                    <p>Приостановлен</p>
                                    <p>Возврат</p>
                                    <p>Удален</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="edit-user transactions-modal">
                        <div class="edit-user__closed"></div>
                        <div class="edit-user__title title fz12">
                            Добавление новой транзакции
                        </div>
                        <div class="edit-user__wrapper">
                            <div class="edit-user__input">
                                <div class="edit-user__input--title">
                                    <span>Аккаунт</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="edit-user__input">
                                <div class="edit-user__input--title">
                                    <span>Реквизиты</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="modal-add__input modal-add__select">
                                <span>ПС</span>
                                <div class="select">
                                    <div class="select__top">
                                        <span class="select__top-title">ПС</span>
                                    </div>
                                    <div class="select__content">
                                        <div class="select__input">
                                            <input type="radio" name="select-radio">
                                            <span class="select__item">ПС</span>
                                        </div>
                                        <div class="select__input">
                                            <input type="radio" name="select-radio">
                                            <span class="select__item">ПС</span>
                                        </div>
                                        <div class="select__input">
                                            <input type="radio" name="select-radio">
                                            <span class="select__item">ПС</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-user__input">
                                <div class="edit-user__input--title">
                                    <span>Сумма</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="edit-user__input">
                                <div class="edit-user__input--title">
                                    <span>Сумма мерчанта</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="edit-user__input">
                                <div class="edit-user__input--title">
                                    <span>Сумма клиента</span>
                                </div>
                                <input type="text">
                            </div>
                            <div class="modal-add__input modal-add__select">
                                <span>Статус</span>
                                <div class="select">
                                    <div class="select__top">
                                        <span class="select__top-title">Статус</span>
                                    </div>
                                    <div class="select__content">
                                        <div class="select__input">
                                            <input type="radio" name="select-radio">
                                            <span class="select__item">Статус</span>
                                        </div>
                                        <div class="select__input">
                                            <input type="radio" name="select-radio">
                                            <span class="select__item">Статус</span>
                                        </div>
                                        <div class="select__input">
                                            <input type="radio" name="select-radio">
                                            <span class="select__item">Статус</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="edit-user__btn">
                            Добавить
                        </button>
                    </form>
            </section>

            <ul class="pagination">
                <li class="pagination__item active">
                    <span class="pagination__link">1</span>
                </li>
                <li class="pagination__item btn-hover3">
                    <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item btn-hover3">
                    <a class="pagination__link" href="#">3</a>
                </li>
                <li class="pagination__item btn-hover3">
                    <a class="pagination__link" href="#">4</a>
                </li>
                <li class="pagination__item btn-hover3">
                    <a class="pagination__link" href="#">5</a>
                </li>
                <li class="pagination__item btn-hover3">
                    <a class="pagination__link" href="#">6</a>
                </li>
            </ul>
        </div>

        <div class="overley"></div>

    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>