<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Admin</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="custom/custom.css">
    <link rel="stylesheet" href="custom/animate.min.css">
</head>

<body>
    <div class="page">
        <header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo">
                <img class="header__icon" src="img/logo.png" alt="">
                apipay.is
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">О нас </a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">API документация</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <div class="header-profile header-profile--main-payment">
                    <button class="profile-main__btn profile-hover mai profile-main__btn--main-payment">
                        <div class="profile__inner">
                            <img class="profile__icon1" loading="lazy" src="img/avatar.png" alt="">
                            <span class="profile__text profile__text--main-payment">Mrvintage</span>
                            <img class="profile__icon2" loading="lazy" src="img/settings.png" alt="">
                        </div>
                    </button>
                    <div class="profile__content">
                        <a href="pc-profile.html" class="profile__btn profile-hover">
                            <img class="profile__icon3" loading="lazy" src="img/profile.png" alt="">
                            <span class="profile__btn-text profile__btn-text--one">Профиль</span>
                        </a>
                        <button class="profile__btn profile-hover">
                            <img class="profile__icon3" loading="lazy" src="img/password.png" alt="">
                            <span class="profile__btn-text">Изменить пароль</span>
                        </button>
                        <button class="profile__btn profile-hover">
                            <img class="profile__icon3" loading="lazy" src="img/exit.png" alt="">
                            <span class="profile__btn-text">Выйти</span>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="burger burger--main">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

</header>

<div class="navigation">
    <a class="navigation__link" href="admin-currencies.html">Админка валюты</a>
    <a class="navigation__link" href="admin-direction.html">Направление обмена</a>
    <a class="navigation__link" href="admin-transactions.html">Админка транзакции</a>
    <a class="navigation__link" href="admin-users.html">Админка обмен валю пользователи</a>
    <a class="navigation__link" href="admin.html">Админка</a>
    <a class="navigation__link" href="arbitrary-payment-link.html">Лк произвольный платеж ссылка</a>
    <a class="navigation__link" href="arbitrary-payment.html">Лк произвольный платеж</a>
    <a class="navigation__link" href="conclusions.html">Админка вывод</a>
    <a class="navigation__link" href="discount.html">Лк скидка</a>
    <a class="navigation__link" href="exchange-requests.html">Админка обмен валю заявки</a>
    <a class="navigation__link" href="index.html">главная</a>
    <a class="navigation__link" href="main-arbitrary-payment.html">главная Произвольный платеж</a>
    <a class="navigation__link" href="main-arbitrary-payment2.html">главная Произвольный платеж2</a>
    <a class="navigation__link" href="main-exchange.html">Главная обмен 2</a>
    <a class="navigation__link" href="main-exchange2.html">Главная обмен 3</a>
    <a class="navigation__link" href="output-create.html">Лк вывод</a>
    <a class="navigation__link" href="output.html">Лк вывод история</a>
    <a class="navigation__link" href="payment.html">Лк вывод масов</a>
    <a class="navigation__link" href="pc-profile.html">Лк профиль</a>
    <a class="navigation__link" href="pc-transactions.html">Лк транзакции</a>
    <a class="navigation__link" href="personal-area.html">Лк</a>
    <a class="navigation__link" href="ref-prog-settings.html">Админка валюты партнерка</a>
    <a class="navigation__link" href="sample.html">Лк вывод шаблоны</a>
    <a class="navigation__link" href="user-page.html">Админка пользователи</a>
</div>

        <section class="exchange">
            <div class="container">
                <div class="exchange__inner main-payment">
                    <div class="main-payment__top doubled-title">
                        <h2 class="title fz18">Оплата счета <span>ID:15151</span></h2>
                        <h2 class="title fz18">Сумма оплаты <span>31 151 грн.</span></h2>
                    </div>
                    <form class="main-payment__box main-payment__box2" action="/">
                        <div class="payment-amount nmar custom-text--large--red">Время для оплаты данного счёта истекло!</span>
                        </div>

                        <div class="custom-icon--success animate__animated animate__tada animate__slow animate__infinite">
                          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M16,29A13,13,0,1,1,29,16,13,13,0,0,1,16,29ZM16,5A11,11,0,1,0,27,16,11,11,0,0,0,16,5Z"/><path d="M21.5,22.5a1,1,0,0,1-.71-.29l-5.5-5.5A1,1,0,0,1,15,16V8a1,1,0,0,1,2,0v7.59l5.21,5.2a1,1,0,0,1,0,1.42A1,1,0,0,1,21.5,22.5Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
                        </div>

                    </form>
                    <div class="main-payment__bottom">

                        <div class="main-payment__info main-payment__info--two">
                            Статус счета:
                            <span class="main-payment__info-red ml-05">
                                не оплачен
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="header__logo">
        <img class="header__icon" src="img/logo.png" alt="">
        apipay.is
      </a>
      <p class="header__copy">© 2021 APIPAY.IS</p>
    </div>
  </div>
</footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
    <script src="custom/custom.js"></script>
</body>

</html>
