<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Admin</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="page">
        <header class="header-admin">
    <div class="header-admin__left">
        <a href="admin.html" class="header-admin__logo">
            apipay.is
        </a>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-admin__static">
        <div class="header-title">
            <span>Быстрый <br> вывод</span>
            <span></span>
        </div>
        <img loading="lazy" src="img/calendar.png" alt="img">
        <div class="header-admin__static--date">
            <span>
                08.08.2021 14:00
            </span>
            <span>
                -
            </span>
            <span>
                02.09.2021 15:00
            </span>
        </div>
    </div>
    <div class="header-profile">
        <button class="profile-main__btn profile-hover">
            <div class="profile__inner">
                <img class="profile__icon1" loading="lazy" src="img/avatar.svg" alt="">
                <span class="profile__text">Mrvintage</span>
                <img class="profile__icon2" loading="lazy" src="img/settings.png" alt="">
            </div>
        </button>
        <div class="profile__content">
            <a href="pc-profile.html" class="profile__btn profile-hover">
                <img class="profile__icon3" loading="lazy" src="img/profile.png" alt="">
                <span class="profile__btn-text profile__btn-text--one">Профиль</span>
            </a>
            <button class="profile__btn profile-hover">
                <img class="profile__icon3" loading="lazy" src="img/exit.png" alt="">
                <span class="profile__btn-text">Выйти</span>
            </button>
        </div>
    </div>
</header>

<div class="navigation">
    <a class="navigation__link" href="admin-currencies.html">Админка валюты</a>
    <a class="navigation__link" href="admin-direction.html">Направление обмена</a>
    <a class="navigation__link" href="admin-transactions.html">Админка транзакции</a>
    <a class="navigation__link" href="admin-users.html">Админка обмен валю пользователи</a>
    <a class="navigation__link" href="admin.html">Админка</a>
    <a class="navigation__link" href="arbitrary-payment-link.html">Лк произвольный платеж ссылка</a>
    <a class="navigation__link" href="arbitrary-payment.html">Лк произвольный платеж</a>
    <a class="navigation__link" href="conclusions.html">Админка вывод</a>
    <a class="navigation__link" href="discount.html">Лк скидка</a>
    <a class="navigation__link" href="exchange-requests.html">Админка обмен валю заявки</a>
    <a class="navigation__link" href="index.html">главная</a>
    <a class="navigation__link" href="main-arbitrary-payment.html">главная Произвольный платеж</a>
    <a class="navigation__link" href="main-arbitrary-payment2.html">главная Произвольный платеж2</a>
    <a class="navigation__link" href="main-exchange.html">Главная обмен 2</a>
    <a class="navigation__link" href="main-exchange2.html">Главная обмен 3</a>
    <a class="navigation__link" href="output-create.html">Лк вывод</a>
    <a class="navigation__link" href="output.html">Лк вывод история</a>
    <a class="navigation__link" href="payment.html">Лк вывод масов</a>
    <a class="navigation__link" href="pc-profile.html">Лк профиль</a>
    <a class="navigation__link" href="pc-transactions.html">Лк транзакции</a>
    <a class="navigation__link" href="personal-area.html">Лк</a>
    <a class="navigation__link" href="ref-prog-settings.html">Админка валюты партнерка</a>
    <a class="navigation__link" href="sample.html">Лк вывод шаблоны</a>
    <a class="navigation__link" href="user-page.html">Админка пользователи</a>
</div>

        <nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="admin.html" class="nav__link ">Статистика</a>
        </li>
        <li class="nav__item">
            <a href="admin-transactions.html" class="nav__link ">Транзакции</a>
        </li>
        <li class="nav__item">
            <a href="conclusions.html" class="nav__link nav__link-conclusions ">Выводы
                <span class="nav__link-conclusions-value">+45</span>
            </a>
        </li>
        <li class="nav__item">
            <a href="admin-currencies_v2.html" class="nav__link ">Валюты ввод</a>
        </li>
        <li class="nav__item">
            <a href="admin-currencies_v3.html" class="nav__link @link-admin8">Валюты вывод</a>
        </li>
        <li class="nav__item">
            <a href="user-page.html" class="nav__link ">Пользователи</a>
        </li>
        <li class="nav__item">
            <a href="admin-discount.html" class="nav__link @link-admin9">Скидка</a>
        </li>
        <li class="nav__item">
            <a href="affil-program.html" class="nav__link 0">Партнерка</a>
        </li>
        <li class="nav__item">
            <span class="nav__link @link-admin6">Обмен валют</span>
            <ul class="submenu">
                <li class="submenu__item">
                    <a href="exchange-requests.html" class="submenu__link ">Заявки</a>
                </li>
                <li class="submenu__item">
                    <a href="admin-users.html" class="submenu__link ">Пользователи</a>
                </li>
                <li class="submenu__item">
                    <a href="admin-direction.html" class="submenu__link ">Направления обмена</a>
                </li>
                <li class="submenu__item">
                    <a href="admin-currencies.html" class="submenu__link ">Валюты</a>
                </li>
                <li class="submenu__item">
                    <a href="reviews.html" class="submenu__link ">Отзывы</a>
                </li>
                <li class="submenu__item">
                    <a href="ref-prog-settings.html" class="submenu__link ">Партнерка</a>
                </li>
                <li class="submenu__item">
                    <a href="settings.html" class="submenu__link ">Настройки</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a href="fast-output.html" class="nav__link nav__link--active">Быстрый вывод</a>
        </li>
    </ul>
</nav>

        <div class="page-content">
            <section class="fast-output">
                <div class="fast-output__top">
                    <h2 class="fast-output__title title fz18">Вывод</h2>
                    <form class="fast-output__form" action="/">
                        <div class="fast-output__wrapper">
                            <div class="fast-output__item">
                                <p class="fast-output__text">Куда вывести</p>
                                <div class="fast-output-box">
                                    <div class="fast-output-select-wrap">
                                        <select class="fast-output-select">
                                            <option value="">
                                                Easypay
                                            </option>
                                            <option value="">
                                                Global24
                                            </option>
                                            <option value="">
                                                Cash-in
                                            </option>
                                            <option value="">
                                                Visa/Mc
                                            </option>
                                            <option value="">
                                                Kuna
                                            </option>
                                            <option value="">
                                                BTC
                                            </option>
                                            <option value="">
                                                USDT
                                            </option>
                                            <option value="">
                                                ETH
                                            </option>
                                            <option value="">
                                                LTC
                                            </option>
                                            <option value="">
                                                XRP
                                            </option>
                                            <option value="">
                                                TRX
                                            </option>
                                        </select>
                                    </div>
                                    <input class="payment__input" type="text">
                                </div>
                            </div>
                            <div class="fast-output__item">
                                <p class="fast-output__text">Введите сумму вывода</p>

                                <input class="payment__input " type="text">
                            </div>
                            <div class="fast-output__item">
                                <p class="fast-output__text">Коментарий</p>
                                <input class="payment__input " type="text">
                            </div>
                        </div>
                        <button class="page-content__btn gradi-btn btn-hover2">Создать заявку</button>
                    </form>
                </div>

                <div class="fast-output__bottom">
                    <form class="currencies__filter" action="">
                        <div class="select-defolt">
                            <select>
                                <option value="">
                                    ID
                                </option>
                                <option value="">
                                    Валюты
                                </option>
                                <option value="">
                                    Реквизиты
                                </option>
                            </select>
                        </div>
                        <div class="currencies__search">
                            <input class="currencies__input" type="text" placeholder="Значения">
                            <button class="search-block__btn gradi-btn">Найти</button>
                        </div>
                        <div class="select-defolt fast-select">
                            <select>
                                <option value="">
                                    Завершен
                                </option>
                                <option value="">
                                    Отменен
                                </option>
                                <option value="">
                                    Приостановлен
                                </option>
                            </select>
                        </div>
                    </form>
                    <form class="filter-wrapper" action="/">
                        <span class="filter__text">На странице:</span>
                        <div class="select-defolt cancellation">
                            <select>
                                <option value="">
                                    10
                                </option>
                                <option value="">
                                    20
                                </option>
                                <option value="">
                                    30
                                </option>
                                <option value="">
                                    40
                                </option>
                                <option value="">
                                    50
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="list-wrapper">
                    <div class="list list__titles">
                        <div class="list__item arbitrary-payment__list1 list__title">
                            ID
                        </div>
                        <div class="list__item arbitrary-payment__list2 list__title">
                            Дата
                        </div>
                        <div class="list__item arbitrary-payment__list5 list__title">
                            Валюта
                        </div>
                        <div class="list__item arbitrary-payment__list4 list__title">
                            Реквизиты
                        </div>
                        <div class="list__item arbitrary-payment__list5 list__title">
                            Сумма
                        </div>
                        <div class="list__item arbitrary-payment__list3 list__title">
                            Комментарий
                        </div>
                        <div class="list__item arbitrary-payment__list6 list__title">
                            Статус
                        </div>
                    </div>
                    <div class="list">
                        <div class="list__item arbitrary-payment__list1">
                            <span>14523</span>
                        </div>
                        <div class="list__item arbitrary-payment__list2">
                            <span>18.08.2021</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>UAH</span>
                        </div>
                        <div class="list__item arbitrary-payment__list4">
                            <span>5454 5454 5454 5454</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>14 500 руб.</span>
                        </div>
                        <div class="list__item arbitrary-payment__list3">
                            <span>За услуги</span>
                        </div>
                        <div class="list__item arbitrary-payment__list6">
                            <span class="list__status">Выполнен</span>
                        </div>
                    </div>
                    <div class="list">
                        <div class="list__item arbitrary-payment__list1">
                            <span>14523</span>
                        </div>
                        <div class="list__item arbitrary-payment__list2">
                            <span>18.08.2021</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>UAH</span>
                        </div>
                        <div class="list__item arbitrary-payment__list4">
                            <span>5454 5454 5454 5454</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>14 500 руб.</span>
                        </div>
                        <div class="list__item arbitrary-payment__list3">
                            <span>За услуги</span>
                        </div>
                        <div class="list__item arbitrary-payment__list6">
                            <span class="list__status">Выполнен</span>
                        </div>
                    </div>
                    <div class="list">
                        <div class="list__item arbitrary-payment__list1">
                            <span>14523</span>
                        </div>
                        <div class="list__item arbitrary-payment__list2">
                            <span>18.08.2021</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>UAH</span>
                        </div>
                        <div class="list__item arbitrary-payment__list4">
                            <span>5454 5454 5454 5454</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>14 500 руб.</span>
                        </div>
                        <div class="list__item arbitrary-payment__list3">
                            <span>За услуги</span>
                        </div>
                        <div class="list__item arbitrary-payment__list6">
                            <span class="list__status">Выполнен</span>
                        </div>
                    </div>
                    <div class="list">
                        <div class="list__item arbitrary-payment__list1">
                            <span>14523</span>
                        </div>
                        <div class="list__item arbitrary-payment__list2">
                            <span>18.08.2021</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>UAH</span>
                        </div>
                        <div class="list__item arbitrary-payment__list4">
                            <span>5454 5454 5454 5454</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>14 500 руб.</span>
                        </div>
                        <div class="list__item arbitrary-payment__list3">
                            <span>За услуги</span>
                        </div>
                        <div class="list__item arbitrary-payment__list6">
                            <span class="list__status">Выполнен</span>
                        </div>
                    </div>
                    <div class="list">
                        <div class="list__item arbitrary-payment__list1">
                            <span>14523</span>
                        </div>
                        <div class="list__item arbitrary-payment__list2">
                            <span>18.08.2021</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>UAH</span>
                        </div>
                        <div class="list__item arbitrary-payment__list4">
                            <span>5454 5454 5454 5454</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>14 500 руб.</span>
                        </div>
                        <div class="list__item arbitrary-payment__list3">
                            <span>За услуги</span>
                        </div>
                        <div class="list__item arbitrary-payment__list6">
                            <span class="list__status">Выполнен</span>
                        </div>
                    </div>
                    <div class="list">
                        <div class="list__item arbitrary-payment__list1">
                            <span>14523</span>
                        </div>
                        <div class="list__item arbitrary-payment__list2">
                            <span>18.08.2021</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>UAH</span>
                        </div>
                        <div class="list__item arbitrary-payment__list4">
                            <span>5454 5454 5454 5454</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>14 500 руб.</span>
                        </div>
                        <div class="list__item arbitrary-payment__list3">
                            <span>За услуги</span>
                        </div>
                        <div class="list__item arbitrary-payment__list6">
                            <span class="list__status">Выполнен</span>
                        </div>
                    </div>
                    <div class="list">
                        <div class="list__item arbitrary-payment__list1">
                            <span>14523</span>
                        </div>
                        <div class="list__item arbitrary-payment__list2">
                            <span>18.08.2021</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>UAH</span>
                        </div>
                        <div class="list__item arbitrary-payment__list4">
                            <span>5454 5454 5454 5454</span>
                        </div>
                        <div class="list__item arbitrary-payment__list5">
                            <span>14 500 руб.</span>
                        </div>
                        <div class="list__item arbitrary-payment__list3">
                            <span>За услуги</span>
                        </div>
                        <div class="list__item arbitrary-payment__list6">
                            <span class="list__status">Выполнен</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="overley"></div>

    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>