<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Admin</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="page">
        <header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo">
                <img class="header__icon" src="img/logo.png" alt="">
                apipay.is
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">О нас </a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">API документация</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <button class="main__btn main__btn--header">Авторизация</button>
            </nav>
            <div class="burger burger--main">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

</header>

<div class="navigation">
    <a class="navigation__link" href="admin-currencies.html">Админка валюты</a>
    <a class="navigation__link" href="admin-direction.html">Направление обмена</a>
    <a class="navigation__link" href="admin-transactions.html">Админка транзакции</a>
    <a class="navigation__link" href="admin-users.html">Админка обмен валю пользователи</a>
    <a class="navigation__link" href="admin.html">Админка</a>
    <a class="navigation__link" href="arbitrary-payment-link.html">Лк произвольный платеж ссылка</a>
    <a class="navigation__link" href="arbitrary-payment.html">Лк произвольный платеж</a>
    <a class="navigation__link" href="conclusions.html">Админка вывод</a>
    <a class="navigation__link" href="discount.html">Лк скидка</a>
    <a class="navigation__link" href="exchange-requests.html">Админка обмен валю заявки</a>
    <a class="navigation__link" href="index.html">главная</a>
    <a class="navigation__link" href="main-arbitrary-payment.html">главная Произвольный платеж</a>
    <a class="navigation__link" href="main-arbitrary-payment2.html">главная Произвольный платеж2</a>
    <a class="navigation__link" href="main-exchange.html">Главная обмен 2</a>
    <a class="navigation__link" href="main-exchange2.html">Главная обмен 3</a>
    <a class="navigation__link" href="output-create.html">Лк вывод</a>
    <a class="navigation__link" href="output.html">Лк вывод история</a>
    <a class="navigation__link" href="payment.html">Лк вывод масов</a>
    <a class="navigation__link" href="pc-profile.html">Лк профиль</a>
    <a class="navigation__link" href="pc-transactions.html">Лк транзакции</a>
    <a class="navigation__link" href="personal-area.html">Лк</a>
    <a class="navigation__link" href="ref-prog-settings.html">Админка валюты партнерка</a>
    <a class="navigation__link" href="sample.html">Лк вывод шаблоны</a>
    <a class="navigation__link" href="user-page.html">Админка пользователи</a>
</div>

        <section class="exchange">
            <div class="container">
                <div class="exchange__inner">
                    <div class="exchange__left">
                        <div class="exchange__top">
                            <p class="exchange__title">ВЫ ОТДАЕТЕ</p>
                            <ul class="exchange__tabs">
                                <li class="exchange__tab active">Все</li>
                                <li class="exchange__tab">BTC</li>
                                <li class="exchange__tab">RUB</li>
                                <li class="exchange__tab">UAH</li>
                            </ul>
                        </div>
                        <div class="exchange__content">
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/qiwi.png" loading="lazy" alt="img">
                                QIWI RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/rnkb.png" loading="lazy" alt="img">
                                РНКБ RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/bitcoin.png" loading="lazy" alt="img">
                                Bitcoin BTC
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/avang.png" loading="lazy" alt="img">
                                Банк Авангард RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/mir.png" loading="lazy" alt="img">
                                МИР RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/prom.png" loading="lazy" alt="img">
                                Промсвязьбанк RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/sber.png" loading="lazy" alt="img">
                                Сбербанк RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/gazprom.png" loading="lazy" alt="img">
                                Газпром Банк RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/visa.png" loading="lazy" alt="img">
                                Visa/MasterCard UAH
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/corn.png" loading="lazy" alt="img">
                                Кукуруза RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/privat.png" loading="lazy" alt="img">
                                Приват24 UAH
                            </buttom>
                            <buttom class="exchange__item active">
                                <img class="exchange__img" src="img/brand/raiff.png" loading="lazy" alt="img">
                                Райффайзен RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/mono.png" loading="lazy" alt="img">
                                Монобанк UAH
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/vtb.png" loading="lazy" alt="img">
                                ВТБ24 RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/visa.png" loading="lazy" alt="img">
                                VISA/Master UAH
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/tintkof.png" loading="lazy" alt="img">
                                Тинькофф RUB
                            </buttom>
                        </div>
                    </div>
                    <div class="exchange__right">
                        <div class="exchange__top exchange__top--right">
                            <p class="exchange__title">ВЫ ПОЛУЧАЕТЕ</p>
                            <ul class="exchange__tabs">
                                <li class="exchange__tab active">Все</li>
                                <li class="exchange__tab">BTC</li>
                                <li class="exchange__tab">RUB</li>
                                <li class="exchange__tab">UAH</li>
                            </ul>
                        </div>
                        <div class="exchange__content">
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/qiwi.png" loading="lazy" alt="img">
                                QIWI RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/rnkb.png" loading="lazy" alt="img">
                                РНКБ RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/bitcoin.png" loading="lazy" alt="img">
                                Bitcoin BTC
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/avang.png" loading="lazy" alt="img">
                                Банк Авангард RUB
                            </buttom>
                            <buttom class="exchange__item active">
                                <img class="exchange__img" src="img/brand/mir.png" loading="lazy" alt="img">
                                МИР RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/prom.png" loading="lazy" alt="img">
                                Промсвязьбанк RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/sber.png" loading="lazy" alt="img">
                                Сбербанк RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/gazprom.png" loading="lazy" alt="img">
                                Газпром Банк RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/visa.png" loading="lazy" alt="img">
                                Visa/MasterCard UAH
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/corn.png" loading="lazy" alt="img">
                                Кукуруза RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/privat.png" loading="lazy" alt="img">
                                Приват24 UAH
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/raiff.png" loading="lazy" alt="img">
                                Райффайзен RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/mono.png" loading="lazy" alt="img">
                                Монобанк UAH
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/vtb.png" loading="lazy" alt="img">
                                ВТБ24 RUB
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/visa.png" loading="lazy" alt="img">
                                VISA/Master UAH
                            </buttom>
                            <buttom class="exchange__item">
                                <img class="exchange__img" src="img/brand/tintkof.png" loading="lazy" alt="img">
                                Тинькофф RUB
                            </buttom>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="benefits">
            <div class="container">
                <div class="benefits__inner">
                    <h2 class="benefits__title title-main fz27">Наши преймущества</h2>
                    <ul class="benefits__list">
                        <li class="benefits__item">
                            <img class="benefits__num" src="img/one.png"></img>
                            <div class="benefits__info">
                                <p class="benefits__info-title">Преймущество</p>
                                <p class="benefits__info-text">Повседневная практика показывает, что постоянный
                                    количественный рост и сфера нашей активности в значительной степени обуславливает
                                    создание модели развития. Повседневная практика показывает, что постоянный
                                    количественный рост сфера.</p>
                            </div>
                        </li>
                        <li class="benefits__item">
                            <img class="benefits__num" src="img/two.png"></img>
                            <div class="benefits__info">
                                <p class="benefits__info-title">Преймущество</p>
                                <p class="benefits__info-text">Повседневная практика показывает, что постоянный
                                    количественный рост и сфера нашей активности в значительной степени обуславливает
                                    создание модели развития. Повседневная практика показывает, что постоянный
                                    количественный рост сфера.</p>
                            </div>
                        </li>
                        <li class="benefits__item">
                            <img class="benefits__num" src="img/three.png"></img>
                            <div class="benefits__info">
                                <p class="benefits__info-title">Преймущество</p>
                                <p class="benefits__info-text">Повседневная практика показывает, что постоянный
                                    количественный рост и сфера нашей активности в значительной степени обуславливает
                                    создание модели развития. Повседневная практика показывает, что постоянный
                                    количественный рост сфера.</p>
                            </div>
                        </li>
                        <li class="benefits__item">
                            <img class="benefits__num" src="img/four.png"></img>
                            <div class="benefits__info">
                                <p class="benefits__info-title">Преймущество</p>
                                <p class="benefits__info-text">Повседневная практика показывает, что постоянный
                                    количественный рост и сфера нашей активности в значительной степени обуславливает
                                    создание модели развития. Повседневная практика показывает, что постоянный
                                    количественный рост сфера.</p>
                            </div>
                        </li>
                    </ul>
                    <button class="main__btn main__btn--logo">
                        <img class="main__btn-arrow-left" src="img/arrow.png" alt="">
                        подключится
                        <img class="main__btn-arrow-right" src="img/arrow.png" alt="">
                    </button>
                </div>
            </div>
        </section>

        <section class="partners">
            <div class="container">
                <div class="partners__inner">
                    <h2 class="partners__title title-main fz27">Наши партнеры</h2>

                    <ul class="partners__list">
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                        <li class="partners__item">
                            <a href="#">
                                <img src="img/partners.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="popup popup--registration">
            <form class="popup__inner" action="/">
                <span class="popup__close popup__close--registration"></span>
                <h2 class="popup__title title-main fz27">Регистрация</h2>
                <input class="popup__input payment__input" name="login" placeholder="Логин" type="text">
                <input class="popup__input payment__input" name="password" placeholder="Пароль" type="password">
                <input class="popup__input payment__input" name="email" placeholder="E-mail" type="text">
                <input class="popup__input payment__input" name="tel" placeholder="Номер телефона" type="tel">
                <button class="main__btn main__btn--logo popup__btn">подключится</button>
            </form>
        </div>

        <div class="popup popup--authorization">
            <form class="popup__inner" action="/">
                <span class="popup__close popup__close--authorization"></span>
                <h2 class="popup__title title-main fz27">Авторизация</h2>
                <div class="popup__wrapper">
                    <img class="popup__img" src="img/profile.png" alt="img">
                    <input class="popup__input popup__input--password payment__input" name="login" type="text">
                </div>
                <div class="popup__wrapper">
                    <img class="popup__img" src="img/key.png" alt="img">
                    <input class="popup__input popup__input--password payment__input" name="password" type="password">
                </div>
                <div class="popup__box">
                    <span class="popup__link-password">Забыли пароль?</span>
                    <span class="popup__link-registration">Регистрация</span>
                </div>

                <button class="main__btn main__btn--header popup__btn">подключится</button>
            </form>
        </div>

        <div class="popup popup--password">
            <form class="popup__inner" action="/">
                <span class="popup__close popup__close--password"></span>
                <h2 class="popup__title title-main fz27">Изменить пароль</h2>
                <p class="popup__text">Новый пароль</p>
                <div class="popup__wrapper">
                    <img class="popup__img" src="img/lock.png" alt="img">
                    <input class="popup__input popup__input--password payment__input" name="login" type="text">
                </div>
                <p class="popup__text">Новый пароль повторно</p>
                <div class="popup__wrapper">
                    <img class="popup__img" src="img/lock.png" alt="img">
                    <input class="popup__input popup__input--password payment__input" name="password" type="password">
                </div>
                <button class="main__btn main__btn--password popup__btn">Изменить</button>
            </form>
        </div>

        <footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="header__logo">
        <img class="header__icon" src="img/logo.png" alt="">
        apipay.is
      </a>
      <p class="header__copy">© 2021 APIPAY.IS</p>
    </div>
  </div>
</footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>