<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Admin</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="page">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="header__logo">
                    <img class="header__icon" src="img/logo.png" alt="">
                    apipay.is
                </a>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#">О нас </a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#">API документация</a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#">Контакты</a>
                        </li>
                    </ul>
                    <div class="header-profile header-profile--main-payment">
                        <button class="profile-main__btn profile-hover mai profile-main__btn--main-payment">
                            <div class="profile__inner">
                                <img class="profile__icon1" loading="lazy" src="img/avatar.png" alt="">
                                <span class="profile__text profile__text--main-payment">Mrvintage</span>
                                <img class="profile__icon2" loading="lazy" src="img/settings.png" alt="">
                            </div>
                        </button>
                        <div class="profile__content">
                            <a href="pc-profile.html" class="profile__btn profile-hover">
                                <img class="profile__icon3" loading="lazy" src="img/profile.png" alt="">
                                <span class="profile__btn-text profile__btn-text--one">Профиль</span>
                            </a>
                            <button class="profile__btn profile-hover">
                                <img class="profile__icon3" loading="lazy" src="img/password.png" alt="">
                                <span class="profile__btn-text">Изменить пароль</span>
                            </button>
                            <button class="profile__btn profile-hover">
                                <img class="profile__icon3" loading="lazy" src="img/exit.png" alt="">
                                <span class="profile__btn-text">Выйти</span>
                            </button>
                        </div>
                    </div>
                </nav>
                <div class="burger burger--main">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="exchange__inner main-payment">
                <div class="main-payment__top" class="title fz18">Оплата счета <span>ID:{{$transaction_id }} Сумма оплаты: {{($tot2 /100)}} {{$currency}}</span>
                </div>
                @if($payment == 'easypay')
                <form id="form_pay_system3" action="{{'https://easypay.ua/ua/moneytransfer/transfer2wallet'}}" name="form_pay_system3" class="main-payment__box main-payment__box2"
                      action="/" method="get">
                    <div class="payment-amount">
                        Сумма платежа: <span class="payment-amount__sum" id="payment-amount__sum">{{$price }} {{$currency }}.</span>
                    </div>
                    <input type="hidden" name="account" value="{{$shop_id}}">
                    <input type="hidden" name="amount" value="{{$price ?? ''}}">
                    <button onclick="use_online_pay('form_pay_system3','amount');"
                            class="main-payment__btn main-payment__btn2 gradi-btn btn-hover2">
                        Отправить
                    </button>
                </form>
                @else
                <div class="payment-amount">Сумма платежа: <span class="payment-amount__sum" id="payment-amount__sum">{{$total }} {{$currency }}.</span>
                </div>
                <div>

                    <a href="{{$payResult['response']['result']['pay_url']}}" id="payOrder"
                       class="main-payment__btn main-payment__btn2 gradi-btn btn-hover2">
                        Оплатить
                    </a>
                </div>
                @endif
                <span class="sub-text" >Вы будете направлены на страницу оплаты</span>
                <div class="main-payment__bottom">
                    <div class="main-payment__line">
                        <span class="main-payment__line-red" id="payPolosa"></span>
                    </div>
                    <div class="main-payment__info">
                        У вас есть <span class="main-payment__info-red"> 20 мин </span> для оплаты счета
                    </div>
                    <div class="main-payment__info main-payment__info--two">
                        Статус счета: <img class="main-payment__info-img" src="img/circle.png" alt=""> <span
                        class="main-payment__info-red">не
                                оплачен</span>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="header__logo">
        <img class="header__icon" src="img/logo.png" alt="">
        apipay.is
      </a>
      <p class="header__copy">© 2021 APIPAY.IS</p>
    </div>
  </div>
</footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
