<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Admin</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="page">
        <header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo">
                <img class="header__icon" src="img/logo.png" alt="">
                apipay.is
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">О нас </a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">API документация</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <div class="header-profile header-profile--main-payment">
                    <button class="profile-main__btn profile-hover mai profile-main__btn--main-payment">
                        <div class="profile__inner">
                            <img class="profile__icon1" loading="lazy" src="img/avatar.png" alt="">
                            <span class="profile__text profile__text--main-payment">Mrvintage</span>
                            <img class="profile__icon2" loading="lazy" src="img/settings.png" alt="">
                        </div>
                    </button>
                    <div class="profile__content">
                        <a href="pc-profile.html" class="profile__btn profile-hover">
                            <img class="profile__icon3" loading="lazy" src="img/profile.png" alt="">
                            <span class="profile__btn-text profile__btn-text--one">Профиль</span>
                        </a>
                        <button class="profile__btn profile-hover">
                            <img class="profile__icon3" loading="lazy" src="img/password.png" alt="">
                            <span class="profile__btn-text">Изменить пароль</span>
                        </button>
                        <button class="profile__btn profile-hover">
                            <img class="profile__icon3" loading="lazy" src="img/exit.png" alt="">
                            <span class="profile__btn-text">Выйти</span>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="burger burger--main">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

</header>

<div class="navigation">
    <a class="navigation__link" href="admin-currencies.html">Админка валюты</a>
    <a class="navigation__link" href="admin-direction.html">Направление обмена</a>
    <a class="navigation__link" href="admin-transactions.html">Админка транзакции</a>
    <a class="navigation__link" href="admin-users.html">Админка обмен валю пользователи</a>
    <a class="navigation__link" href="admin.html">Админка</a>
    <a class="navigation__link" href="arbitrary-payment-link.html">Лк произвольный платеж ссылка</a>
    <a class="navigation__link" href="arbitrary-payment.html">Лк произвольный платеж</a>
    <a class="navigation__link" href="conclusions.html">Админка вывод</a>
    <a class="navigation__link" href="discount.html">Лк скидка</a>
    <a class="navigation__link" href="exchange-requests.html">Админка обмен валю заявки</a>
    <a class="navigation__link" href="index.html">главная</a>
    <a class="navigation__link" href="main-arbitrary-payment.html">главная Произвольный платеж</a>
    <a class="navigation__link" href="main-arbitrary-payment2.html">главная Произвольный платеж2</a>
    <a class="navigation__link" href="main-exchange.html">Главная обмен 2</a>
    <a class="navigation__link" href="main-exchange2.html">Главная обмен 3</a>
    <a class="navigation__link" href="output-create.html">Лк вывод</a>
    <a class="navigation__link" href="output.html">Лк вывод история</a>
    <a class="navigation__link" href="payment.html">Лк вывод масов</a>
    <a class="navigation__link" href="pc-profile.html">Лк профиль</a>
    <a class="navigation__link" href="pc-transactions.html">Лк транзакции</a>
    <a class="navigation__link" href="personal-area.html">Лк</a>
    <a class="navigation__link" href="ref-prog-settings.html">Админка валюты партнерка</a>
    <a class="navigation__link" href="sample.html">Лк вывод шаблоны</a>
    <a class="navigation__link" href="user-page.html">Админка пользователи</a>
</div>

        <section class="exchange exchange-three">
            <div class="container">
                <div class="exchange__inner">
                    <div class="exchange__status">
                        <div class="exchange__status-title">
                            <h2>ВНИМАНИЕ!</h2>
                            Данная операция производится в автоматическом режиме 24/7 и занимает <span>3 минуты</span>
                            после оплаты.
                        </div>
                        <div class="exchange__status-top">
                            <div class="exchange__status-block">
                                <div class="exchange__status-block--top">
                                    <span>ВЫ ОТДАЕТЕ</span>
                                    <div>
                                        <img loading="lazy" src="img/brand/qiwi.png" alt="img">
                                        <span>QIWI RUB</span>
                                    </div>
                                    <span>Сумма: 14 000 руб.</span>
                                </div>
                                <span>С кошелька: +38 098 433 3333</span>
                            </div>
                            <div class="exchange__status-block">
                                <div class="exchange__status-block--top">
                                    <span>ВЫ ПОЛУЧАЕТЕ</span>
                                    <div>
                                        <img loading="lazy" src="img/brand/bitcoin.png" alt="img">
                                        <span>Bitcoin BTC</span>
                                    </div>
                                    <span>Сумма: 0,005</span>
                                </div>
                                <span>На адрес Bitcoin: 1BQ9qza7fn9snSCyJQB3ZcN46biBtkt4ee</span>
                            </div>
                        </div>
                        <div class="exchange__status-center">
                            Статус заявки №515151: <span>в ожидании</span>
                        </div>
                        <div class="exchange__status-info">
                            <div>
                                <span>Строго запрещено:</span> <br>
                                1.Оплачивать с банкоматов и терминалов; <br>
                                2.Совершать оплату 2-мя или более переводами; <br>
                                3.Оплачивать заявку переводом ниже минимальной суммы;
                            </div>
                            <div>
                                <span>ВНИМАНИЕ!</span> <br>
                                Нажатие кнопки «Создать заявку» означает, что <br>
                                вы принимаете все основные условия <br>
                                Пользовательского соглашения.
                            </div>
                        </div>
                        <div class="exchange__status-bottom">
                            <div class="exchange__status-bottom-check">
                                <input type="checkbox" class="checkbox">
                                <span>С <a href="#">правилами сервиса</a> ознакомлен и согласен</span>
                            </div>
                        </div>
                        <div class="exchange__status-btnwrap">
                            <button class="exchange__status-btn">
                                Отменить заявку
                            </button>
                            <button class="exchange__status-btn btn-hover2 gradi-btn">
                                Оплатить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="header__logo">
        <img class="header__icon" src="img/logo.png" alt="">
        apipay.is
      </a>
      <p class="header__copy">© 2021 APIPAY.IS</p>
    </div>
  </div>
</footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>