<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>Admin</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="page">
        <header class="header-admin">
    <div class="header-admin__left">
        <a href="personal-area.html" class="header-admin__logo">
            apipay.is
        </a>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header-admin__static">
        <div class="header-title">
            <span>Профиль</span>
            <span></span>
        </div>
        <img loading="lazy" src="img/calendar.png" alt="img">
        <div class="header-admin__static--date">
            <span>
                08.08.2021 14:00
            </span>
            <span>
                -
            </span>
            <span>
                02.09.2021 15:00
            </span>
        </div>
    </div>
    <div class="header-profile">
        <button class="profile-main__btn profile-hover">
            <div class="profile__inner">
                <img class="profile__icon1" loading="lazy" src="img/avatar.svg" alt="">
                <span class="profile__text">Mrvintage</span>
                <img class="profile__icon2" loading="lazy" src="img/settings.png" alt="">
            </div>
        </button>
        <div class="profile__content">
            <a href="pc-profile.html" class="profile__btn profile-hover">
                <img class="profile__icon3" loading="lazy" src="img/profile.png" alt="">
                <span class="profile__btn-text profile__btn-text--one">Профиль</span>
            </a>
            <a href="password.html" class="profile__btn profile-hover">
                <img class="profile__icon3" loading="lazy" src="img/password.png" alt="">
                <span class="profile__btn-text">Изменить пароль</span>
            </a>
            <button class="profile__btn profile-hover">
                <img class="profile__icon3" loading="lazy" src="img/exit.png" alt="">
                <span class="profile__btn-text">Выйти</span>
            </button>
        </div>
    </div>

</header>


<div class="navigation">
    <a class="navigation__link" href="admin-currencies.html">Админка валюты</a>
    <a class="navigation__link" href="admin-direction.html">Направление обмена</a>
    <a class="navigation__link" href="admin-transactions.html">Админка транзакции</a>
    <a class="navigation__link" href="admin-users.html">Админка обмен валю пользователи</a>
    <a class="navigation__link" href="admin.html">Админка</a>
    <a class="navigation__link" href="arbitrary-payment-link.html">Лк произвольный платеж ссылка</a>
    <a class="navigation__link" href="arbitrary-payment.html">Лк произвольный платеж</a>
    <a class="navigation__link" href="conclusions.html">Админка вывод</a>
    <a class="navigation__link" href="discount.html">Лк скидка</a>
    <a class="navigation__link" href="exchange-requests.html">Админка обмен валю заявки</a>
    <a class="navigation__link" href="index.html">главная</a>
    <a class="navigation__link" href="main-arbitrary-payment.html">главная Произвольный платеж</a>
    <a class="navigation__link" href="main-arbitrary-payment2.html">главная Произвольный платеж2</a>
    <a class="navigation__link" href="main-exchange.html">Главная обмен 2</a>
    <a class="navigation__link" href="main-exchange2.html">Главная обмен 3</a>
    <a class="navigation__link" href="output-create.html">Лк вывод</a>
    <a class="navigation__link" href="output.html">Лк вывод история</a>
    <a class="navigation__link" href="payment.html">Лк вывод масов</a>
    <a class="navigation__link" href="pc-profile.html">Лк профиль</a>
    <a class="navigation__link" href="pc-transactions.html">Лк транзакции</a>
    <a class="navigation__link" href="personal-area.html">Лк</a>
    <a class="navigation__link" href="ref-prog-settings.html">Админка валюты партнерка</a>
    <a class="navigation__link" href="sample.html">Лк вывод шаблоны</a>
    <a class="navigation__link" href="user-page.html">Админка пользователи</a>

</div>

        <nav class="nav">
    <ul class="nav__list ">
        <li class="nav__item">
            <a href="personal-area.html" class="nav__link ">Статистика</a>
        </li>
        <li class="nav__item">
            <a href="pc-transactions.html" class="nav__link ">Транзакции</a>
        </li>
        <li class="nav__item">
            <span class="nav__link ">Выводы</span>
            <ul class="submenu">
                <li class="submenu__item">
                    <a href="output-create.html" class="submenu__link ">Создать</a>
                </li>
                <li class="submenu__item">
                    <a href="output.html" class="submenu__link ">История</a>
                </li>
                <li class="submenu__item">
                    <a href="payment.html" class="submenu__link ">Массовые выплаты</a>
                </li>
                <li class="submenu__item">
                    <a href="sample.html" class="submenu__link ">Шаблоны</a>
                </li>
                <li class="submenu__item">
                    <a href="discount.html" class="submenu__link ">Скидка</a>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link ">Api</a>
        </li>
        <li class="nav__item">
            <a href="https://docs.apipay.is" class="nav__link ">Документация</a>
        </li>
        <li class="nav__item">
            <a href="arbitrary-payment.html" class="nav__link @link6">Произвольный платеж</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link @link7">Новости</a>
        </li>
    </ul>
    <a class="nav__link nav__link--bottom" href="#">Техническая поддержка</a>
</nav>

        <div class="page-content">
            <section class="pc-profile">
                <div class="pc-profile__wrapper">
                    <h2 class="pc-profile__title title fz18">Профиль</h2>
                    <div class="pc-profile__info">
                        Ваш оборот
                        <span class="pc-profile__sum">159$</span>
                        ваша скидка
                        <span class="pc-profile__precent gradi-btn">0,1%</span>
                    </div>
                </div>
                <form class="pc-profile__form" action="/">
                    <div class="pc-profile__group">
                        <p>Логин</p>
                        <input class="payment__input pc-profile__input" name="login" type="text">
                    </div>

                    <div class="pc-profile__group">
                        <p>Email:</p>
                        <input class="payment__input pc-profile__input" name="email" type="text">
                    </div>
                    <div class="pc-profile__group">
                        <p>Другая информация:</p>
                        <input class="payment__input pc-profile__input" name="another" type="text">
                    </div>
                    <button class="pc-profile__btn gradi-btn btn-hover2">Редактировать</button>

                    <div class="pc-profile__group">
                        <h2 class="pc-profile__title title fz18">Двухфакторная Аутентификация</h2>
                    </div>
                    <div class="pc-profile__group">
                        <p>Токен 2FA</p>
                        <div class="token__wrapper">
                            <input class="payment__input pc-profile__input token" value="FDGE1GDS31GE" name="token"
                                type="text">
                            <button class="token__btn gradi-btn btn-hover2">QR-код</button>
                        </div>
                    </div>
                    <div class="pc-profile__group">
                        <p>Пароль 2FA</p>
                        <input class="payment__input pc-profile__input" name="password" placeholder="Пароль 2FA"
                            type="password">
                    </div>
                    <button class="pc-profile__btn gradi-btn btn-hover2">Включить</button>

                </form>
            </section>
        </div>

    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>